#about-us {
  padding: 2rem 0;
  background: #242424;
}
.about-us-container {
  width: 60%;
  margin: 0 auto;
  color: #b5b5b5;

  & h1 {
    text-align: center;
  }
  & p {
    font-weight: 300;
    font-size: 1rem;
  }
}

@media screen and(max-width:998px) {
  .about-us-container {
    width: 90%;
    margin: 0 auto;
  }
}
