#drink{
    background-image: linear-gradient(rgba(255, 255, 255, 0.803),rgba(255, 255, 255, 0.824)),url(../img/requestdrink.jpg);
    background-repeat:no-repeat;
    background-size:cover;
}
.grid-container{
    display:grid;
}
.drink-card,.drink-form h3{
    color:$dark-brown;
    letter-spacing:.3rem;
}
.drink-card,.drink-form{
    text-align: center;
    display: grid;
    // grid-template-columns: 70%;
    justify-content: center;
    grid-row-gap: 1.5rem;
    margin: 20px auto;
    // background: #000;

}
.drink-form__feedback{
    border:1px solid $gold;
    display: none;
    padding:1rem 2rem;
    width:400px;
    font-weight:300;
    margin: 0 auto;
    box-shadow: -7px -2px 85px -23px rgba(153,117,9,1);
}
.error{
    background:rgba(255, 0, 0, 0.345);
    display: block;
    color:red;
    border: 1px solid red;
}
.success{
    background: rgba(0, 128, 0, 0.434);
    display: block;
    color:green;
    border:1px solid green;
}
.drink-card__title,.drink-form__title{
 font-size:2.5rem;
}
.input-name,.last-name,.input-email{
    width:100%;
    padding:.6rem 1rem;
    font-size:.9rem;
    font-weight:300;
    outline: none;
}
.input-submit{
    width:50%;
    padding:.6rem 1rem;
    font-size:.9rem;
    font-weight:300;
    text-transform: uppercase;
    transition:all .3s ease-in;
    border-radius:2px 
}
.input-submit:hover{
    background:$gold;
    color:white;
    cursor: pointer;
}
.input-name::placeholder,
.last-name::placeholder,
.input-email::placeholder{
   color:$gold; 
   text-transform:capitalize;  
}
.drink-card__list{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap:1rem;
}
.person{
    display:grid;
    grid-template-columns: auto auto 1fr;
    grid-gap:1rem;
    align-items: center;
    text-align: left;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.379);
    padding:5px;
    // box-shadow: -2px -2px 161px -37px rgb(0, 0, 0);
    // border:1px solid $dark-brown;
}
.person img{
    border-radius:50%;
    box-shadow: -2px -2px 161px -37px $dark-brown;
}

@media screen and (min-width:768px){
    .drink-card__list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap:1rem;
    }
}