#drink{
    background:$dark-brown;
}

.drink-card,.drink-form{
    text-align: center;
    display: grid;
    grid-template-columns: 70%;
    justify-content: center;
    grid-row-gap: 1.5rem;
    margin: 0 auto;
    background: #000;

}
