.gallery {
  background: #f9f9f9;
  h1 {
    color: $dark-brown;
    text-align: center;
    margin: 3rem;
  }
}
.gallery-item__img {
  width: 100%;
  height: 100%;
  display: block;
  transition: all 0.4s ease-in-out;
}
.gallery-item {
  position: relative;
  overflow: hidden;
  background: linear-gradient($dark-brown, $dark-brown);

  &__icon {
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 4rem;
    z-index: 2;
    color: $bright-yellow;
    transform: scale(0);
    transition: all 0.3s linear;
  }
  &__icon:hover {
    filter: grayscale(1);
  }

  &:hover &__icon {
    transform: scale(1.3) translate(-50%, -50%);
  }
}

.gallery-item:hover .gallery-item__img {
  opacity: 0.5;
  transform: scale(1.1);
}

// @media screen and (max-width: 576px) {
//   .gallery-container {
//     display: grid;
//     grid-template-columns: 1fr;
//     // grid-template-rows: repeat(4fr, 1fr);
//     grid-gap: 1rem;
//   }
// }

@media screen and (min-width: 992px) {
  .gallery-container {
    grid-gap: 1rem;
    display: grid;
    height: 100vh;
    grid-template-columns: repeat(4fr, 1fr);
    grid-template-rows: repeat(4fr, 1fr);
    grid-template-areas:
      "one one two three"
      "one one four four"
      "five six seven seven"
      "eight nine seven seven";
  }
}

.item-1 {
  grid-area: one;
}
.item-2 {
  grid-area: two;
}
.item-3 {
  grid-area: three;
}
.item-4 {
  grid-area: four;
}
.item-5 {
  grid-area: five;
}
.item-6 {
  grid-area: six;
}
.item-7 {
  grid-area: seven;
}
.item-8 {
  grid-area: eight;
}
.item-9 {
  grid-area: nine;
}

.gallery-modal {
  display: none;
}

.gallery-modal--show {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;

  &__item {
    position: relative;
    background: url("../img/work-1.jpeg") center/cover;
    height: 60vh;
    width: 80vw;
    border: 4px solid white;
    // z-index: 1000;
  }
  &__close {
    position: fixed;
    top: 90px;
    right: 3px;
    font-size: 1.5rem;
    color: white;
    cursor: pointer;
    border: 1px solid $dark-brown;
    background: $dark-brown;

    // background: red;
  }
}
@media screen and (min-width: 768px) {
  .gallery-modal__item {
    position: relative;
    background: url("../img/work-1.jpeg") center/cover;
    height: 70vh;
    width: 60vw;
    border: 4px solid white;
    z-index: 1200;
  }
  // @media screen and (max-width: 768px) {
  //   .gallery-modal__item {
  //     position: relative;
  //     background: url("../img/work-1.jpeg") center/cover;
  //     height: 70vh;
  //     width: 10vw;
  //     border: 4px solid white;
  //     // z-index: 1000;
  //   }

  .gallery-modal__close {
    position: fixed;
    top: 87px;
    right: 210px;
    font-size: 2rem;
    color: white;
    cursor: pointer;
    // border: 1px solid $dark-brown;
    background: $dark-brown;

    // background: red;
  }
}
